.base .arial {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: lightcoral;
}

.base .whitespace {
    white-space: nowrap;
}

.block span.bigred {
    font-size: 1.5em;
    color: red;
}

.block span.blue {
    font-size: 1em;
    color: blueviolet;
}

.block {    /* inheritance */
    color: goldenrod; /*   inherited */
    font-size: 2em; /*   inherited */
    border: 3px red dotted; /* !NOT!  inherited */
}

.block > p {    /*  all p first child */
    color: green;
}

.block p:nth-child(2) {
    line-height: 2em;
}

